/* th{
    width: 150px;
} */

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 200px;
  }
.button1 button{
     background-color: black;
     color: white;
     height: 29px;
     border-radius: 10px;
     margin-left: 30px;
}
.button2 button{
    background-color: black;
    color: white;
    height: 30px;
    border-radius: 10px;
    margin-left: 30px;
}
.button3 button{
    background-color: black;
    color: white;
    height: 30px;
    border-radius: 10px;
    margin-left: 30px;
}
.button4 button{
background-color: green;
color: white;
height: 30px;
border-radius: 10px;
margin-left: 50px;
}